<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="utf-8">
    <title>Michael Levy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Michael Levy">
    <meta name="keyword" content="Michael Levy, Architecture, Princeton, New York, Providence, Rhode Island">
    <meta http-equiv="author" content="Michael Levy">
    <meta http-equiv="author" content="Michael Levy"><link rel="stylesheet" href="https://use.typekit.net/vii6hfe.css">
    <style>body{margin:0;background:#fff;min-height:-webkit-fill-available;color:#000;font-family:"neue-haas-grotesk-text", Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased; -text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; letter-spacing: var(--letter-spacing);font-size:20px;line-height:30px;letter-spacing:.35px;word-spacing:-.5px;font-style:normal;font-weight:400;display:flex;flex-direction:column;justify-content:space-between;height:100dvh}html{height:-webkit-fill-available}p{margin:0;padding:25px 25px}.last{padding-bottom:25px}a{color:#000;text-decoration:none}a:hover{color:#000}@media only screen and (max-width:599px){body{font-size:20px;line-height:30px}p{padding:25px 25px}.last{padding-bottom:25px}</style>
</head>
<body>
    <p>Michael Levy is a student at Princeton University School of Architecture.</p>
    <p class="last"><a href="mailto:ml2873@princeton.edu">Email</a>, <a href="https://instagram.com/__________levy">Instagram</a></p>
</body>
</html>
